.Header {
    width: 599px;
    height: 53px;
    border: 1px solid rgba(128, 128, 128, 0.526);
    border-left: none;

    h1 {
        font-size: 20px;
        padding: 13px 528px 14px 16px;
        margin: 0;
    }
}